/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/store
*.swp
# Binaries, saved tests, temporary copies of docs
/bufstream
/*.zip
/schema
